main {
    min-height: calc(100vh - 160px);
  }

  body {
    background-color: rgba(18, 102, 197, 0.651);
  }

/* Altura fija del cuerpo de la tarjeta */
.card-body {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Altura y ancho fijo de las imagenes*/
.card-img-top {
  object-fit: cover; /* Ajustar sin distorsión */
  width: 100%;       /* Hacer que la imagen ocupe todo el ancho del contenedor */
  height: 200px;     /* Ajustar la altura de la imagen */
}

.card-text {
  max-height: 120px; /* Cuánto texto se muestra */
  overflow-y: auto;  /* Permitir scroll si el texto excede el espacio */
  padding-right: 10px; /* Espacio para el scrollbar */
}

.card-text::-webkit-scrollbar {
  width: 8px;
}

.card-text::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#btnBuscar{
  background-color: rgb(18, 102, 197, 0.651);
  border-color: rgba(18, 102, 197, 0.651);
} 